body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.animated-heading {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
  height: 100vh; /* Ustawienie wysokości na pełną wysokość widoku */
}

.product {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.product img {
  width: 100%;
  border-radius: 5px;
}

.product-info {
  padding: 10px 0;
}

.product-info h2 {
  margin: 5px 0;
}

.product-info p {
  margin: 5px 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
