body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/darmowe-wektory/e-book-tlo-projektu_1300-420.jpg?w=826&t=st=1710026361~exp=1710026961~hmac=ad453956ba6502f9781580bed4884d6bd55d85299641ce67beddcf165917ad54");
    background-size: cover;
    background-position: center;
    color: #333;
    transition: background-color 0.5s ease;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* dodajemy półprzezroczysty kolor na nagłówku */
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease;
}

header:hover {
    background-color: #555;
}

h1 {
    margin: 0;
    font-size: 36px;
    transition: color 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8); /* dodajemy półprzezroczysty biały kolor na kontenerze */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.ebook {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.ebook img {
    max-width: 100%;
    height: auto;
}

/* styles.css */

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* powiększenie przycisku o 5% */
}
